{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": false,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/styles/root/(.*)$",
    "^@/dictionaries/root/(.*)$",
    "^@/server/root/(.*)$",
    "^@/elements/root/(.*)$",
    "^@/components/root/(.*)$",
    "^@/contexts/root/(.*)$",
    "^@/hooks/root/(.*)$",
    "^@/utils/root/(.*)$",
    "^@/types/root/(.*)$",
    "^@/styles/github/root/(.*)$",
    "^@/components/github/root/(.*)$",
    "^@/contexts/github/root/(.*)$",
    "^@/hooks/github/root/(.*)$",
    "^@/utils/github/root/(.*)$",
    "^@/types/github/root/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
